<style>
* {
  box-sizing: border-box;
  margin: 0 0;
}
body,
html {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.hidden {
  display: none;
}

#enter {
  margin-bottom: 20px;
}

#message {
  height: 500px;
  background-color: aqua;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.me {
  text-align: right;
  display: flex;
  justify-content: right;
}
.other {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.nickname {
  width: fit-content;
}
.msg {
  width: fit-content;
  max-width: 20ch;
  word-wrap: break-word;
  white-space: normal;
  padding: 1px;
  background-color: greenyellow;
  color: white;
  border-radius: 5px;
}
#chatForm {
  display: flex;
}

#content {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #aef7b2;
}
</style>