<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>커뮤니티</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/view/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="/"><span class="fw-bolder text-primary">SOLVE IT
                    </span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/professors">교수님들</a></li>
                        <li class="nav-item"><a class="nav-link" href="">후기</a></li>
                        <li class="nav-item"><a class="nav-link" href="/community">커뮤니티</a></li>
                        <li class="nav-item"><a class="nav-link" href="">마이페이지</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Community List Section-->
        <section class="py-5" id="communityList">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1>
                        <span>커뮤니티</span>
                    </h1>
                    <p class="subtitle">사용자들과 소통이 가능한 공간입니다.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div id="community-list">
                            <!-- Card 1-->
                            <!-- <div class="card mb-4 shadow-sm border-0"
                                onclick="window.location.href='/view/communityDetail.html'" style="cursor: pointer;">
                                <div class="card-body">
                                    <h5 class="card-title">사용법 관련</h5>
                                    <p class="card-text text-muted">제가 새로 계좌를 개설해서 기존에 연결했던 계좌 말고 새로운 계좌를 연결하려고 하는데, 혹시
                                        어디서
                                        바꿀 수 있나요? 자세하게 답변해주시면 정말 감사하겠습니다! 🥺</p>
                                    <small class="text-muted"> 이서진 · 2024-11-27</small>
                                </div>
                            </div> -->

                            <!-- Card 2-->
                            <!-- <div class="card mb-4 shadow-sm border-0"
                                onclick="window.location.href='/view/communityDetail.html'" style="cursor: pointer;">
                                <div class="card-body">
                                    <h5 class="card-title">안녕하세요</h5>
                                    <p class="card-text text-muted">방금 가입한 김혁진입니다^^ </p>
                                    <small class="text-muted"> 김혁진 · 2024-11-26</small>
                                </div>
                            </div> -->

                            <!-- Card 3-->
                            <!-- <div class="card mb-4 shadow-sm border-0"
                                onclick="window.location.href='/view/communityDetail.html'" style="cursor: pointer;">
                                <div class="card-body">
                                    <h5 class="card-title">프로그래밍 언어 추천</h5>
                                    <p class="card-text text-muted">제가 프로그래밍 언어를 학습하고 싶은데 너무 다양해서 어떤걸 골라야할지 잘 모르겠어요.
                                        추천해주실 수 있나요?</p>
                                    <small class="text-muted"> 김서준 · 2024-11-25</small>
                                </div>
                            </div> -->
                        </div>
                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#"
                                        style="color: #989085; background-color: #EEEFEA;">이전</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#"
                                        style="color: #FFF; background-color: #C9C0AE;">1</a></li>
                                <li class="page-item"><a class="page-link" href="#"
                                        style="color: #FFF; background-color: #C9C0AE;">2</a></li>
                                <li class="page-item"><a class="page-link" href="#"
                                        style="color: #FFF; background-color: #C9C0AE;">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"
                                        style="color: #989085; background-color: #EEEFEA;">다음</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Section-->
        <section class="bg-light py-2">
            <div class="container px-4">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-5">
                            <p class="lead fw-light"><strong>SolveIt(솔브잇)</strong>에 오신 것을 환영합니다.</p>
                            <p class="text-muted">
                                SolveIt은 회원들이 전문 교수들과 유료 채팅을 통해 다양한 고민과 문제를 해결할 수 있도록 돕는 플랫폼입니다.<br>
                                간단한 상담부터 심층적인 문제 해결까지, 언제 어디서나 전문적인 도움을 받아보세요.
                            </p>
                            <div class="d-flex justify-content-center fs-2 gap-4">
                                <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                                <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                                <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">Copyright &copy; SolveIt2024</div>
                </div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/view/js/communityList.js"></script>
</body>

</html>